$font-one: 'Montserrat', sans-serif;
$font-second: 'Edu QLD Beginner', cursive;



body {
    color: black;
    font-family: $font-one;
}

.btn {
    background: #fed136;
    font-size: 12px;
    font-weight: 600;
    text-decoration: none;
    color: white;
    padding: 10px 30px;
  }

  .container {
    width: 1140px;
  }

.navigation {
    position: absolute;
    width: 100%;
    height: 70px;
}

.navbar {
    display: flex;
    justify-content: space-between;
}

.navbar-logo {
    margin: 30px 0 0 180px
}

.navbar-list {
    margin-right: 180px;
}

.navbar-list ul li {
    display: inline-block;

    a {
        font-size: 12px;
        font-weight: 600;
        color: rgb(255, 255, 255);
        text-decoration: none;
        padding: 0 20px;
    }
}

.header {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 100vh;
    background-image: url('https://images.pexels.com/photos/5380596/pexels-photo-5380596.jpeg?auto=compress&cs=tinysrgb&w=1260&h=750&dpr=1');
    background-position: center center;
    background-size: cover;
    background-attachment: fixed;
    margin-bottom: 96px;
  }

  .header-inner {
    color: white;
    text-align: center;

    h1 {
        font-size: 54px;
        font-weight: 700;
    }

    span {
        font-weight: 600;
        font-family: $font-second;
        font-size: 40px;
    }

    p {
        font-weight: 600;
        margin-bottom: 70px;
    }
    
  }

  .services-title {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin-bottom: 96px;

     h2 {
        font-weight: 700;
     }

     span {
        font-style: italic;
        font-size: 14px;
     }
  }

  .services {
    display: flex;
    justify-content: center;
    margin-bottom: 96px;

  }

  .services-box {
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    margin: 0 25px;
    text-align: center;

        i {
            font-size: 26px;
            color: #fed136;
            height: 70px;
            width: 70px;
            border: 3px solid #fed136 ;
            border-radius: 50px;
            text-align: center;
            padding: 18px;
            margin-bottom: 24px;
        }

        span {

            font-weight: 700;
            margin-bottom: 18px;
        }

        p {
            font-size: 14px;
          
        }
  }

  .card {
    border: none;
    width: 280px;
    margin-bottom: 40px;
}

.card-body {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: center;
    align-items: center;

    h5 {
        font-size: 16px;
        font-weight: 600;
        margin: 0;
    }

    span {
        font-style: italic;
        font-size: 12px;
    }
}

.card img {
    width: 100%;
    height: 300px;
    object-fit: cover;
}


.card-box {
    display: flex;
    justify-content: center;
}

.portfolio {
    padding-top: 96px;
    padding-bottom: 96px;
    background: #f7f7f7;
}